.mobile-menu {
  width: 320px;
  height: 1024px;

  padding: 23px 24px 32px 24px;
    
  background-color: #FFFFFF;
  box-shadow: 16px 0px 52px 0px #0E185033, -2px 0px 4px 0px #454F7E05;
}

.mobile-menu__header {
  position: relative;
  height: 97px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background: transparent, url();
}

.mobile-menu__logo {
  position: absolute;
  left: 56.73px;
  top: -5.73px;
}

.mobile-menu__button {
  background: none;
}

.mobile-menu__content {
  height: 684px;
}

.mobile-menu__item {
  padding-bottom: 32px;

  font-family: 'TT Lakes';

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.mobile-menu__link {
  position: relative;

  color: #1B1C21;
}

.mobile-menu__link:hover::before, .mobile-menu__link:focus::before, .mobile-menu__link:active::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -24px;

  width: 4px;
  height: 32px;

  background: #41F6D7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mobile-menu__footer {
  display: flex;
  flex-direction: column;
}

.mobile-menu__icons {
  align-self: flex-start;

  margin-bottom: 16px;
}

.mobile-menu__icons .mobile-menu__icon {
  margin-right: 16px;
}

.mobile-menu__email {
  margin-bottom: 12px;

  font-family: 'TT Lakes';

  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: #1B1C21;

}

.mobile-menu__phone {
  margin-bottom: 40px;
  
  font-family: 'TT Lakes';
  font-weight: bold;

  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;

  color: #1B1C21;
}

.mobile-menu__languages {
  display: flex;
}